.header{
    background-color: rgb(157, 161, 172, 0.815);
    display:flex ;
    justify-content: space-between;
}
.grid{
    display: flex;
    border:2px solid black;
    border-radius: 50px;
}
.origami{
    border-radius: 20px;
    background-color: white;

    width: 310px;
    font-family: fantasy;
}
.menu{
    display: flex;
    justify-content: space-between;
    background-color: yellow;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
}
body{
    background-color: whitesmoke;
}
